# Conf and keys
#config/
secrets/
*.env
.env
.env.*
.env.local
.env.production

# Логи
logs/
*.log

# Databases
*.db
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.pyc
*.pyo
*.pyd

# IDE / PyCharm
.vscode/
.idea/
*.swp
*.swo
*.iws
*.iml
*.ipr

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini